/* Community.css (scaled 76.19%, excluding border & border-radius) */
#community {
  background-color: rgb(5, 20, 31);
  width: 244.8px;
  height: 800px;
  }
  #comTitle {
  display: flex;
  padding: 11.43px;
  width: calc(100% - 22.86px);
  height: 68.57px;
  border-bottom: 1px solid rgba(252, 253, 224, 0.243);
  }
  .comTitleImg {
  background-size: cover;
  border-radius: 70%;
  width: 64.76px;
  height: 64.76px;
  }
  #comTitleStateCover {
  width: 133.33px;
  margin: 15.24px 11.43px;
  }
  #comTitleName {
  width: 125.71px;
  color: rgba(251, 251, 235, 0.928);
  background-color: transparent;
  font-size: 16px;
  border: none;
  }
  #comTitleState {
  font-size: 12.19px;
  color: #009F3F;
  margin: 4.57px 0;
  }
  .communityTab {
  display: flex;
  justify-content: space-between;
  color: rgba(251, 251, 235, 0.928);
  background-color: rgb(3, 10, 16);
  width: calc(100% - 28px);
  height: 30.48px;
  line-height: 30.48px;
  padding: 0 14px;
  }

  #communityTabPerson{
    font-size: 14px;  
  }

  #addBtn {
  position: relative;
  top: 2.67px;
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  font-size: 12.19px;
  height: 25.14px;
  width: 76.19px;
  border-radius: 6px;
  }
  #addBtn:hover {
  cursor: pointer;
  background-color: #0f1217;
  color: rgb(211, 211, 211);
  border: 2px solid #7b6621;
  }
  #fixedAddBtn {
  position: relative;
  right: -11.43px;
  top: 2.67px;
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  font-size: 12.19px;
  height: 25.14px;
  width: 38.10px;
  border-radius: 6px;
  }
  #fixedAddBtn:hover {
  cursor: pointer;
  background-color: #0f1217;
  color: rgb(211, 211, 211);
  border: 2px solid #7b6621;
  }
  #mem {
  position: absolute;
  right: 533.33px;
  top: 114.29px;
  width: 380.95px;
  height: 647.62px;
  background-color: #010A13;
  border: 2px solid #463714;
  border-radius: 5px;
  }
  #memCloseBtn {
  position: relative;
  left: 350.48px;
  top: -11.43px;
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  font-size: 15.24px;
  height: 38.10px;
  width: 38.10px;
  border-radius: 100%;
  }
  #memCloseBtn:hover {
  cursor: pointer;
  background-color: #151920;
  border: 2px solid #a5882a;
  }
  #memTitle {
  color: #F0E6D2;
  font-size: 18.29px;
  text-align: center;
  padding: 0 0 30.48px;
  }
  #memDetailWrapCover {
  width: 100%;
  height: 480px;
  overflow-y: auto;
  }
  .memDetailWrap {
  padding: 7.62px 22.86px;
  display: flex;
  gap: 15.24px;
  font-size: 13.71px;
  color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  }
  .memDetailWrap:hover {
  background-color: #181d24;
  cursor: pointer;
  }
  .memChkbox {
  border-color: #846E3F;
  width: 15.24px;
  }
  .memImg {
  background-image: url("../assets/sumIcon.jpg");
  background-size: cover;
  width: 30.48px;
  height: 30.48px;
  border-radius: 100%;
  }
  .memName {
  line-height: 30.48px;
  width: 114.29px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  #memBtnWrap {
  position: relative;
  left: 68.57px;
  }
  .memBtn {
  position: relative;
  top: 21.33px;
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  font-size: 15.24px;
  height: 34.29px;
  width: 91.43px;
  margin: 0 15.24px;
  }
  .memBtn:hover {
  cursor: pointer;
  background-color: #151920;
  border: 2px solid #a5882a;
  }
  .fixedNameEdit {
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  font-size: 13.71px;
  height: 22.86px;
  border-radius: 6px;
  width: 105.14px;
  padding: 2.29px 4.57px;
  }
  .fixedTierSelect {
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  font-size: 12.19px;
  height: 28.24px;
  width: 76.19px;
  border-radius: 6px;
  text-align: center;
  }
  .fixedTier {
  color: #e1ded4;
  line-height: 30.48px;
  margin-left: 7.62px;
  }
  .FixedDelBtn {
  position: relative;
  top: 2.29px;
  font-size: 9.90px;
  width: 22.86px;
  height: 22.86px;
  border: none;
  border-radius: 3px;
  }
  .FixedDelBtn:hover {
  cursor: pointer;
  background-color: rgb(163, 163, 163);
  border-radius: 3px;
  border: none;
  }