.sumWrap{
  display: flex;
  justify-content:left;
  padding: 13px 0px 3px 20px;
  width: calc(100%-20px);
}
.sumTitleImg{
  background-image: url("../assets/sumIcon.jpg");
  background-size: cover;
  border-radius: 70%;
  width: 70px;
  height: 70px;
}
.sumNameWrap{
  width: 130px;
  padding: 0 15px;
}
.sumName{
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  padding: 10px;
  font-size: 16px;
  height: 10px;
  width: 150px;
  border-radius: 6px;}
.tierSelect {
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  padding: 0 10px;
  font-size: 16px;
  margin-top: 5px;
  height: 30px;
  width: 172px;
  border-radius: 6px;
}

.tierOption {
  background-color: #1e252e;
  color: white;
}
.delBtn{
  position: relative;
  top: 1px;
  font-size: 13px;
  right: -32px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 3px;
}
.delBtn:hover{
  cursor: pointer;
  background-color: rgb(163, 163, 163);
  border-radius: 3px;
  border: none;
}