/* Summoner.css */
.sumWrap {
  display: flex;
  justify-content: left;
  padding: 9.905px 0 2.286px 15.238px;
  width: calc(100% - 15.238px);
  }
  .sumTitleImg {
  background-image: url("../assets/sumIcon.jpg");
  background-size: cover;
  border-radius: 70%;
  width: 53.333px;
  height: 53.333px;
  }
  .sumNameWrap {
  width: 99.048px;
  padding: 0 11.429px;
  }
  .sumName {
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  padding: 7.619px;
  font-size: 12.1905px;
  height: 7.619px;
  width: 114.286px;
  border-radius: 6px;
  }
  .tierSelect {
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  padding: 0 7.619px;
  font-size: 12.1905px;
  margin-top: 3.8095px;
  height: 22.857px;
  width: 131.048px;
  border-radius: 6px;
  }
  .tierSelect:hover{
    cursor: pointer;
  background-color: #151920;
  border: 2px solid #a5882a;
  }
  .tierOption {
  background-color: #1e252e;
  color: white;
  }
  .delBtn {
  position: relative;
  top: 0.762px;
  font-size: 9.9048px;
  right: -24.381px;
  width: 22.857px;
  height: 22.857px;
  border: none;
  border-radius: 3px;
  }
  .delBtn:hover {
  cursor: pointer;
  background-color: rgb(163, 163, 163);
  border-radius: 3px;
  }
  
  