*{
  margin: 0;
  padding: 0;
  font-family: "lolfont";
}
@font-face {
  font-family: "lolfont";
  src: url("./assets/rix모던고딕b.ttf") format("opentype");
}
.app{
  background-color: rgb(24, 31, 37);
  display: flex;
  align-items: center; 
  flex-direction: column;
  width: 100vw;
  height: 100vh;

}
.background{
  position: relative;
  display: flex;
  z-index: 1;
  background-repeat: no-repeat;
  background-size : cover;
  background-image: url("./assets/bgimg.png");
  width: 1371px;
  height: 800px;
  margin: auto auto 0 auto;   

}

.app-footer {
  width: 1371px;    
  margin: 0 auto auto auto; 
  background: rgba(30, 37, 46, 0.9);
  border: none;
  padding: 6.01px 0;
  text-align: center;
  color: #fff;
  font-size: 10.6px;
  border-top: 1px solid #444;
}

.app-footer .footer-content p {
  margin: 1.523px 0;
  font-family: "lolfont";
}



.sumWrap{
  display: flex;
  justify-content:left;
  padding: 9.9px 0px 2.285px 15.238px;
  width: calc(100% - 20px);
}
.sumTitleImg{
  background-image: url("./assets/sumIcon.jpg");
  background-size: cover;
  border-radius: 70%;
  width: 53.33px;
  height: 53.33px;
}
.sumNameWrap{
  width: 99.04px;
  padding: 0 11.428px;
}
.sumName{
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  padding: 7.619px;
  font-size: 12.19px;
  height: 7.619px;
  width: 114.285px;
  border-radius: 6px;}

.tierSelect {
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  padding: 0 7.619px;
  font-size: 12.19px;
  margin-top: 3.8px;
  height: 22.857px;
  width: 131.04px;
  border-radius: 6px;
}

.tierOption {
  background-color: #1e252e;
  color: white;
}
.delBtn{
  position: relative;
  top: 0.76px;
  font-size: 9.9px;
  right: -24.38px;
  width: 22.857px;
  height: 22.857px;
  border: none;
  border-radius: 3px;
}
.delBtn:hover{
  cursor: pointer;
  background-color: rgb(163, 163, 163);
  border-radius: 3px;
  border: none;
}

#musicToggle{
  position: absolute; 
  top: 38.095px; 
  right: 281.9px; 
  z-index: 1000;
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  font-size: 12.19px;
  height: 25.143px;
  width: 76.19px;
  border-radius: 6px;
}
#musicToggle:hover{
  cursor: pointer;
  background-color: #0f1217;
  color: rgb(211, 211, 211);
  border: 2px solid #7b6621;
}

#mode{
  position: absolute;
  top: 38.095px; 
  right: 365.71px; 
  z-index: 1000;
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  font-size: 12.19px;
  height: 25.142px;
  width: 60.952px;
  border-radius: 6px;
  text-align: center;
}
#mode:hover{
  cursor: pointer;
  background-color: #151920;
  border: 2px solid #a5882a;
}

#hideBtn{
  position: absolute;
  top: 38.095px; 
  right: 434.285px; 
  z-index: 1000;
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  font-size: 12.19px;
  height: 25.142px;
  width: 60.952px;
  border-radius: 6px;
  text-align: center;
}

#hideBtn:hover{
  cursor: pointer;
  background-color: #151920;
  border: 2px solid #a5882a;
}