*{
  margin: 0;
  padding: 0;
  font-family: "lolfont";
}
@font-face {
  font-family: "lolfont";
  src: url("./assets/rix모던고딕b.ttf") format("opentype");
}
.app{
  background-color: rgb(24, 31, 37);
  display: flex;
  width: 100vw;
  height: 100vh;
}
.background{
  position: relative;
  display: flex;
  z-index: 1;
  margin: auto;
  background-repeat: no-repeat;
  background-size : cover;
  background-image: url("./assets/bgimg.jpg");
  width: 1800px;
  height: 1050px;
}





.sumWrap{
  display: flex;
  justify-content:left;
  padding: 13px 0px 3px 20px;
  width: calc(100% - 20px);
}
.sumTitleImg{
  background-image: url("./assets/sumIcon.jpg");
  background-size: cover;
  border-radius: 70%;
  width: 70px;
  height: 70px;
}
.sumNameWrap{
  width: 130px;
  padding: 0 15px;
}
.sumName{
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  padding: 10px;
  font-size: 16px;
  height: 10px;
  width: 150px;
  border-radius: 6px;}

.tierSelect {
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  padding: 0 10px;
  font-size: 16px;
  margin-top: 5px;
  height: 30px;
  width: 172px;
  border-radius: 6px;
}

.tierOption {
  background-color: #1e252e;
  color: white;
}
.delBtn{
  position: relative;
  top: 1px;
  font-size: 13px;
  right: -32px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 3px;
}
.delBtn:hover{
  cursor: pointer;
  background-color: rgb(163, 163, 163);
  border-radius: 3px;
  border: none;
}

#musicToggle{
  position: absolute; 
  top: 50px; 
  right: 370px; 
  z-index: 1000;
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  font-size: 16px;
  height: 33px;
  width: 100px;
  border-radius: 6px;
}
#musicToggle:hover{
  cursor: pointer;
  background-color: #0f1217;
  color: rgb(211, 211, 211);
  border: 2px solid #7b6621;
}

#mode{
  position: absolute;
  top: 50px; 
  right: 480px; 
  z-index: 1000;
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  font-size: 16px;
  height: 33px;
  width: 80px;
  border-radius: 6px;
  text-align: center;
}
#mode:hover{
  cursor: pointer;
  background-color: #151920;
  border: 2px solid #a5882a;
}

#hideBtn{
  position: absolute;
  top: 50px; 
  right: 570px; 
  z-index: 1000;
  background-color: #1e252e;
  color: white;
  border: 2px solid #d4af37;
  font-size: 16px;
  height: 33px;
  width: 80px;
  border-radius: 6px;
  text-align: center;
}

#hideBtn:hover{
  cursor: pointer;
  background-color: #151920;
  border: 2px solid #a5882a;
}